body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

a {
    all: unset;
}

ul {
    list-style-type: none;
}

button {
    align-self: flex-start;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
    
}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
}

.upper-background {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 32px;
}

.left-nav {
    display: flex;
    justify-content: center;
    padding: 10;
}

.right-nav {
    display: flex;
    justify-content: center;
}

.inner-div {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    margin-bottom: 52px;
}

.left-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    flex: 1 1 auto;
}

.right-items {
    display: flex;
    justify-content: center;
    width: 300px;
    flex: 2 1 auto;  

}

.image-placeholder {
    background-color: aqua;
    flex: 1;
    height: auto;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #F9FAF8;
}




