html {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

a {
    all: unset;
}

ul {
    list-style-type: none;
}

button {
    align-self: flex-start;
}

p,h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 62px;
    
}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.upper-background {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 32px;
}

.left-nav {
    display: flex;
    justify-content: center;
    padding: 10;
}

.right-nav {
    display: flex;
    justify-content: center;
}

.inner-div {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    margin-bottom: 62px;
}

.left-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    flex: 1 1 auto;
}

.right-items {
    display: flex;
    justify-content: center;
    width: 300px;
    flex: 2 1 auto;  

}

.image-placeholder {
    background-color: #838fa0;
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-mid {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.upper-items-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-items-mid {
    display: flex;
    justify-content: space-evenly;
}

.info-container {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.mid-box {
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
}

.container-quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.sign-up-button {
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px;
    padding-left: 26px;
    padding-right: 26px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 8px;
}

.quote-text {
    font-size: 36px;
    font-weight:200;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 18px;
    font-weight: bolder;
    color: #1F2937;
}



