body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    all: unset;
}

ul {
    list-style-type: none;
}

.navbar {
    display: flex;
    align-items: center;
    
}

ul {
    display: flex;
    gap: 32px;
}

.header-logo {
    padding-right: 300px;
}

.left-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10;
}

.right-nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

